<ion-header>
    <ion-toolbar>
      <ion-title>Accueil</ion-title>
      <ion-menu-button slot="start"></ion-menu-button>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!--debut contenaire-->
    <img  class="img-intro" src="../../assets/imageF/bright-netflix.jpg">
    <ion-button   expand="full" color="netflix-dark">Regarder maintenant</ion-button>
    <br>
    <p class="box-title">Ma liste </p>
    <div class="scroll-box" >
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZTNkZmU0ZWQtZjQzMy00YTNmLWFmN2MtZGNkMmU1OThmMGYwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZDVjN2FkYTQtNTBlOC00MjM5LTgzMWEtZWRlNGUyYmNiOTFiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZDMxOGZhNWYtMzRlYy00Mzk5LWJjMjEtNmQ4NDU4M2QxM2UzXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY209_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYzVmMTdjOTYtOTJkYS00ZTg2LWExNTgtNzA1N2Y0MDgwYWFhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYzllMjJkODAtYjMwMi00YmNhLWFhYzAtZjZjODg5YzEwOGUwXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR1,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYjQ5NjM0Y2YtNjZkNC00ZDhkLWJjMWItN2QyNzFkMDE3ZjAxXkEyXkFqcGdeQXVyODIxMzk5NjA@._V1_UY209_CR3,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/imageF/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR5,0,140,209_AL_.jpg">
      </div>
    </div>
    <br>
    
  
    <br>
    <p class="box-title">Film  me Concernant</p>
    <div class="scroll-box" >
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZTNkZmU0ZWQtZjQzMy00YTNmLWFmN2MtZGNkMmU1OThmMGYwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZDVjN2FkYTQtNTBlOC00MjM5LTgzMWEtZWRlNGUyYmNiOTFiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BZDMxOGZhNWYtMzRlYy00Mzk5LWJjMjEtNmQ4NDU4M2QxM2UzXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY209_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYzVmMTdjOTYtOTJkYS00ZTg2LWExNTgtNzA1N2Y0MDgwYWFhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYzllMjJkODAtYjMwMi00YmNhLWFhYzAtZjZjODg5YzEwOGUwXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR1,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img  src="../../assets/imageF/MV5BYjQ5NjM0Y2YtNjZkNC00ZDhkLWJjMWItN2QyNzFkMDE3ZjAxXkEyXkFqcGdeQXVyODIxMzk5NjA@._V1_UY209_CR3,0,140,209_AL_.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/imageF/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR5,0,140,209_AL_.jpg">
      </div>
    </div>
    <br>
  
    <!--Fin-->
      
  </ion-content>
  <ion-footer>
      <ion-toolbar>
  
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home" >
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="search">
            <ion-icon name="search-outline"></ion-icon>            
            <ion-label>search</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="news" >
            <ion-icon name="earth-outline"></ion-icon>           
             <ion-label>news</ion-label>
             <ion-badge>6</ion-badge>
  
        </ion-tab-button>
        <ion-tab-button tab="menu" >
            <ion-icon  name="menu-outline"></ion-icon>
            <ion-label>menu</ion-label>
        </ion-tab-button>  
  
      </ion-tab-bar>
    </ion-tabs>
  